@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* --------------------(Reset)------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 

  /* Primary*/

  --Very-Dark-Blue: hsl(233, 47%, 7%);
  --Dark-Desaturated-Blue: hsl(244, 38%, 16%);
  --Soft-Violet: hsl(277, 64%, 61%);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Slightly-TransparentP: hsla(0, 0%, 100%, 0.75);
  --Slightly-TransparentS: hsla(0, 0%, 100%, 0.6);
  --Layer: rgba(72, 6, 112, 0.7);
  --blue: hsl(228, 45%, 44%);
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--Very-Dark-Blue);
}

main {
  height: 782px;
  width: 328px;
  background-color: var(--Dark-Desaturated-Blue);
  margin: 88px auto;
  border-radius: 5px;
  overflow: hidden;
}
/* --------------------(Section-1)------------------------*/
.image {
  background-image: url(images/image-header-mobile.jpg);
  background-size: cover;
  width: 100%;
  height: 240px;
}
.layer {
  background-color: var(--Layer);
  height: 100%;
  width: 100%;
}
/* --------------------(Section-2)------------------------*/
.section-2 {
  padding: 40px 33px;
  text-align: center;
}
h1 {
  color: var(--White);
  font-size: 1.8em;
  font-family: "Inter", sans-serif;
  height: 115px;
}
span {
  color: var(--Soft-Violet);
}
p {
  color: var(--Slightly-TransparentP);
  font-family: "Inter", sans-serif;
  font-size: 1em;
  line-height: 25px;
  height: 137px;
}
.stats {
  color: var(--Slightly-TransparentS);
  line-height: 25px;
}
.amount {
  font-weight: 700;
  font-size: 1.45em;
  color: var(--White);
}
.concept {
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 33px;
}
.queries {
  text-transform: uppercase;
}

/* --------------------(Footer)------------------------*/

.attribution {
  font-size: 0.733rem;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}
.attribution a {
  color: var(--blue);
  text-decoration: none;
}

/* --------------------(Screen < 1200px)------------------------*/
@media screen and (min-width: 1200px) {
  main {
    width: 1110px;
    height: 448px;
    display: flex;
    flex-direction: row-reverse;
    margin: 178px auto;
  }
  .image {
    width: 540px;
    height: 100%;
    background-image: url(images/image-header-desktop.jpg);
  }
  .section-2 {
    padding: 75px 70px;
    text-align: left;
  }
  h1 {
    font-size: 2.5em;
  }
  p {
    margin-right: 70px;
  }
  .stats {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
  }
}
